<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="logging.file.path" source="logging.file.path"/>

    <property name="LOG_DIR" value="${user.home}${logging.file.path}"/>
    <property name="LOG_PATH_NAME" value="${LOG_DIR}/app.log"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
             
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %highlight(%-5level) [%thread] %cyan( [%logger{5} -> %M] ) : %msg %n</pattern>
                    
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_NAME}.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <!-- <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %highlight(%-5level) [%thread]  %cyan(%logger{36}) - %msg%n</pattern>-->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5p] [%logger{5} -> %M] : %msg %n</pattern>
                    
        </encoder>
    </appender>

    <logger name="io.netty" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.springframework" level="INFO" additivity="false"/>
    <logger name="springfox.documentation" level="WARN"/>
    <logger name="org.apache.http.wire" level="INFO"/>
    <logger name="io.lettuce.core" level="INFO"/>

    <!-- local -->
    <springProfile name="local">
        <logger name="org.hibernate" level="INFO"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.type" level="TRACE"/>
        <logger name="org.hibernate.type.BasicTypeRegistry" level="DEBUG"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG"/>

        <root level="DEBUG">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <!-- dev-public -->
    <springProfile name="dev-public">
        <logger name="org.hibernate" level="INFO"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.type" level="TRACE"/>
        <logger name="org.hibernate.type.BasicTypeRegistry" level="DEBUG"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG"/>

        <root level="DEBUG">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <!-- dev -->
    <springProfile name="dev">
        <logger name="org.hibernate" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="file"/>
        </root>
    </springProfile>

    <!-- prod-public -->
    <springProfile name="prod-public">
        <logger name="org.hibernate" level="INFO"/>
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.type" level="TRACE"/>
        <logger name="org.hibernate.type.BasicTypeRegistry" level="DEBUG"/>
        <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="DEBUG"/>

        <root level="DEBUG">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <!-- prod -->
    <springProfile name="prod">
        <logger name="org.hibernate" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="file"/>
        </root>
    </springProfile>

</configuration>